@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1f2937;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 10px 350px;
}

#header-logo {
  font-size: 24px;
  font-weight: bolder;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.header-body {
  display: flex;
  padding: 100px 350px;
}

.header-body-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  gap: 10px;
}

.header-body-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

#title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.subtext {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  font-size: 18px;
  text-align: center;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
}

img {
  max-height: 233px;
}

.information-title {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.square {
  width: 150px;
  height: 150px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.subtext-square {
  font-size: 18px;
  color: #1f2937;
}
