@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1f2937;
}

.header-top {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
  padding: 10px;
}

#header-logo {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.header-body {
  display: flex;
  margin: 100px;
}

#title {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

#subtext {
  font-size: 18px;
  color: #e5e7eb;
}

button {
  font-size: 18px;
  text-align: center;
  background-color: #3882f6;
  color: #e5e7eb;
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
}

img {
  max-height: 200px;
}
